.idea
test
scripts/formatted_tickets.txt
scripts/result.txt
.DS_Store

scripts/transcribe/input/*
scripts/transcribe/output/*
scripts/transcribe/*.bin
!scripts/transcribe/input/
!scripts/transcribe/input/.gitkeep

scripts/domria/downloads/

**/.env
